@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="text-center">
    <h1 class="display-1">Bem Vindo!</h1>
    <br />
    <br />
    <h3 class="display-6">Cadastre alertas para ações do Ibovespa e seja avisado por email quando elas atingirem um valor de compra ou venda.</h3>
</div>
